<div class="container pt-5">
  <div class="row mt-5">
    <form action="" [formGroup]="registerForm" (ngSubmit)="register()" >
        <p *ngIf="dataError" class="alert alert-danger">{{dataError}}</p>
        <div class="group">
            <label for="">Name</label>
            <input class="form-control mb-2 " type="text" formControlName="name"
            [ngClass]="{  'is-valid': !fname?.errors && fname?.dirty,
            'is-invalid': fname?.errors && fname?.dirty}" >
            <div class="alert alert-danger invalid-feedback">
                <p *ngIf="fname?.getError('minlength')">minLength 3</p>
                <p *ngIf="fname?.getError('required')">User Name is required</p>
                <p *ngIf="fname?.getError('maxlength')">maxLength 20</p>
              </div>
        </div>
        <div class="group">
            <label for="">Email</label>
            <input class="form-control mb-2 " type="email" formControlName="email"
            [ngClass]="{
                'is-valid': !email?.errors && email?.dirty,
                'is-invalid': email?.errors && email?.dirty
              }">
              <div class="alert alert-danger invalid-feedback">
                <p *ngIf="email?.getError('required')">Email is required</p>
                <p *ngIf="email?.getError('pattern')">Email invalid</p>
              </div>
        </div>
        <div class="group">
            <label for="">Password</label>
            <input class="form-control mb-2 " type="password" formControlName="password"
            [ngClass]="{
                'is-valid': !passwrd?.errors && passwrd?.dirty,
                'is-invalid': passwrd?.errors && passwrd?.dirty
              }" >
              <div class="alert alert-danger invalid-feedback">
                <p *ngIf="passwrd?.getError('required')">Password is required</p>
                <p *ngIf="passwrd?.getError('minlength')">Minimum six Numbers</p>
              </div>
        </div>
        <div class="group">
            <label for="">Repassword</label>
            <input class="form-control mb-2 " type="password" formControlName="rePassword"
            [ngClass]="{
                'is-valid': !rePassword?.errors && rePassword?.dirty,
                'is-invalid': rePassword?.errors && rePassword?.dirty
              }">
              <div class="alert alert-danger invalid-feedback">
                <p *ngIf="rePassword?.getError('required')">rePassword is required</p>
                <p *ngIf="rePassword?.getError('notMatch')"> not Match</p>
              </div>
        </div>
        <div class="group">
            <label for="">Phone</label>
            <input class="form-control mb-4 " type="tel" formControlName="phone"
            [ngClass]="{
                isValid: !phone?.errors && phone?.dirty,
                'is-invalid': phone?.errors && phone?.dirty
              }">
              <div class="alert alert-danger invalid-feedback">
                <p *ngIf="phone?.getError('required')">Phone is required</p>
                <p *ngIf="phone?.getError('pattern')">Invalid</p>
              </div>
        </div>
        <button [disabled]="registerForm.invalid" class="btn btn-outline-success d-block ms-auto ">Register</button>
        

    </form>
</div>

</div>