
 <div class="my-5 pt-2">
    <h1 class="tw m-auto w-100 text-center my-5"></h1>
    
</div>
<div class="line1"></div>
<div class="">
    <owl-carousel-o [options]="customOptions"  >

        <ng-container *ngFor="let trend of trendingAll " >
          <ng-template carouselSlide>
            <div class=" rounded-4 border border-2  w-100 scale">  
           <img [src]="'https://image.tmdb.org/t/p/w500'+trend.poster_path" class="w-100" [alt]="trend.alt" [title]="trend.title">
            </div>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
</div>
<div class="line2"></div>
<div class="container mt-5">
    <div class="row">
        <mat-form-field class="w-100"  appearance="outline">
            <mat-label>Search..</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button class="" *ngIf="value" matSuffix mat-icon-button aria-label="Clear"  (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </div>
    <div class="row text-center">
      <h2 class="trend">Trending Movies</h2>
    </div>
    <div class="row g-5">
        
        <div class="col-md-3" *ngFor="let trend of trendingAll | filter:value">
            <div  class="rounded-4 border shadow border-light border-2 overflow-hidden position-relative main" [routerLink]="['/movie-details',trend.media_type,trend.id]">
                <div class="layer ">
                     <h4><i class="fa-solid fa-star" style="color: #fbf309;"></i>{{trend.vote_average.toFixed(1)}}</h4>
                    <div class="position-absolute top-50 start-50 translate-middle"><i class="fa-brands fa-youtube fa-beat fa-3x" style="color: #f40101;"></i></div>
                    <h2 class="h4 position-absolute bottom-0 m-2">{{trend.original_title}}</h2>
                </div>
                <img [src]="'https://image.tmdb.org/t/p/w500'+ trend.poster_path" alt="" class="w-100">
            </div>
        </div>
    
    </div>
</div>
